@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}

.bg {
    background-color: #288FA7;
}

.location-icon{
    color: #fff;
    text-align: right;
    margin-top: 20px;
}

.location-icon i {
    font-size: 30px;
    cursor: pointer;
}

p {
    color: #FFF;
    text-align: center;
}

#current-time{
    font-size: 80px;
    margin-bottom: 60px;
}

.location-icon p {
    margin: 0px;
    padding: 0px;
}

.location p:nth-child(2){
    font-size: 60px;
    margin-top: -20px;
}

.location p:nth-child(3){
    margin-top: -20px;
}

.time-left-text{
    font-size: 35px;
    color: #004E74;
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
}

#time-left{
    font-size: 35px;
    margin-top: -25px;
    margin-bottom: 50px;
}

.vakitler{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.vakitler p {
    display: flex;
    width: 100px;
    height: 80px;
    background: #11839D;
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin: 10px 10px auto;
}

.vakitler p:hover {
    opacity: 0.9;
    background-color: #004E74;
    cursor: pointer;
}

#current-long-date{
    color: #004E74;
    text-align: center;
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
}